@import url(https://fonts.googleapis.com/css?family=Red+Rose:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:500,600,&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: "Monument Extended";
  font-display: swap;
  src: url("../fonts/Monument Extended-Regular.woff2") format("woff2"), url("../fonts/Monument Extended-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-android:before {
  content: "\e900";
}

._icon-apple:before {
  content: "\e901";
}

._icon-arrow:before {
  content: "\e902";
}

._icon-arrow-send:before {
  content: "\e903";
}

._icon-circle-letter:before {
  content: "\e904";
}

._icon-facebook:before {
  content: "\e905";
}

._icon-instagram:before {
  content: "\e906";
}

._icon-linkedin:before {
  content: "\e907";
}

._icon-play:before {
  content: "\e908";
}

._icon-read-more:before {
  content: "\e909";
}

._icon-tiktok:before {
  content: "\e90a";
}

._icon-twitter:before {
  content: "\e90b";
}

._icon-youtube:before {
  content: "\e90c";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(255, 255, 255);
  line-height: 1;
  font-family: "Red Rose";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Red Rose";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #101010;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 103.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.9375rem 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #2c2d31;
  background-color: #52ffe0;
  border-radius: 3.125rem;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header._header-scroll {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  top: -100%;
}

.header._header-show {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  top: 0;
  background-color: #101010;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.header__button {
  min-width: 11.25rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.625rem;
}

.menu__link {
  position: relative;
  font-size: 1.125rem;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0.0625rem;
  width: 0;
  height: 0.0875rem;
  background-color: #52ffe0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.icon-menu {
  display: none;
}

.main-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43.45%;
          flex: 0 1 43.45%;
}

.main-page__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.84%;
          flex: 0 1 47.84%;
  position: relative;
  padding-bottom: 49.771%;
}

.main-page__image-ibg img {
  border-radius: 11.25rem;
}

.main-page__image-ibg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#7f1cfc), to(#59dcdc));
  background: -o-linear-gradient(top, #7f1cfc 0%, #59dcdc 100%);
  background: linear-gradient(180deg, #7f1cfc 0%, #59dcdc 100%);
  -webkit-filter: blur(50px);
          filter: blur(50px);
  border-radius: 11.25rem;
  z-index: -1;
}

.main-page__play {
  position: absolute;
  bottom: 5.625rem;
  left: 0;
  z-index: 5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-page__play::after {
  position: absolute;
  content: "";
  z-index: -1;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  width: 12.5rem;
  height: 12.5rem;
  background: rgba(129, 134, 152, 0.2) url("../img/icons/circle-letter.svg") 50%/177px 174px no-repeat;
  -webkit-animation: rotate 30s infinite linear;
          animation: rotate 30s infinite linear;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.name-page {
  font-family: "Monument Extended";
  letter-spacing: 0.04em;
}

.name-page__subtitle {
  line-height: 1.1944444444;
}

.name-page__subtitle:not(:last-child) {
  margin-bottom: 1rem;
}

.name-page__title {
  line-height: 1.1944444444;
  text-transform: uppercase;
}

.explorers {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.375rem;
     -moz-column-gap: 3.375rem;
          column-gap: 3.375rem;
}

.explorers::after {
  content: "";
  position: absolute;
  top: 35%;
  right: -50%;
  width: 8.6875rem;
  height: 5.5625rem;
  background: url("../img/icons/arrow-wavy.svg") 0 0 no-repeat;
}

.explorers__button {
  min-width: 9.375rem;
}

.explorers__creators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.explorers__creator {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 0 -0.5rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.explorers__creator:nth-child(n+2) {
  border: 0.0625rem solid #ffffff;
}

.funfact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.25rem;
     -moz-column-gap: 3.25rem;
          column-gap: 3.25rem;
}

.funfact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7.8125rem;
     -moz-column-gap: 7.8125rem;
          column-gap: 7.8125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.9375rem;
}

.funfact__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.5rem;
}

.funfact__progress-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Monument Extended";
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.funfact__category {
  font-family: "Red Rose";
  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.02em;
  color: #818698;
}

@media (min-width: 34.375em) {
  .funfact__body {
    -webkit-column-gap: 7.8125rem;
       -moz-column-gap: 7.8125rem;
            column-gap: 7.8125rem;
  }
}

@media (min-width: 47.9375em) {
  .main-page {
    padding-top: 10.375rem;
  }
}

@media (min-width: 61.9375em) {
  .header {
    padding-top: 2.3125rem;
  }

  .header {
    padding-bottom: 2.3125rem;
  }

  .header__logo img {
    width: 9.3125rem;
  }

  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}

@media (min-width: 103.125em) {
  .name-page:not(:last-child) {
    margin-bottom: 3rem;
  }

  .name-page__subtitle {
    font-size: 2.25rem;
  }

  .name-page__title {
    font-size: 4.5rem;
  }

  .explorers:not(:last-child) {
    margin-bottom: 4.125rem;
  }

  .funfact__progress-wrapper {
    font-size: 1.875rem;
  }
}

@media (min-width: 48em) {
  .header__container {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}

@media (min-width: 75em) {
  .main-page {
    height: 100vh;
  }
}

@media (max-width: 75em) {
  .main-page__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-page__image-ibg {
    padding-bottom: 60%;
  }

  .main-page__image-ibg img {
    border-radius: 6.25rem;
  }

  .main-page__play {
    bottom: -1.25rem;
    left: 50%;
  }

  .main-page__play {
    bottom: 7.5rem;
    left: 7.5rem;
  }
}

@media (max-width: 75em) and (max-width: 20em) {
  .main-page__container {
    row-gap: 3.125rem;
  }
}

@media (max-width: 48em) {
  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .header__logo img {
    width: 6.3125rem;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (max-width: 20em) {
  .header__container {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .name-page:not(:last-child) {
    margin-bottom: 1rem;
  }

  .name-page__subtitle {
    font-size: 1.125rem;
  }

  .name-page__title {
    font-size: 1.875rem;
  }

  .explorers:not(:last-child) {
    margin-bottom: 2.75rem;
  }

  .funfact__progress-wrapper {
    font-size: 1.5625rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background: #101010;
    overflow: auto;
    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    right: -100%;
    background: #101010;
    -webkit-transition: right 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;
    -o-transition: right 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;
    transition: right 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .menu__list {
    padding-top: 6.25rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 1.25rem;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(255, 255, 255);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main-page__image-ibg img {
    border-radius: 3.125rem;
  }

  .main-page__play {
    bottom: 4.375rem;
    left: 4.375rem;
  }

  .main-page__play::after {
    width: 7.5rem;
    height: 7.5rem;
    background: rgba(129, 134, 152, 0.2) url("../img/icons/circle-letter.svg") 50%/97px 94px no-repeat;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__body::before {
    min-height: 5rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .header__button {
    font-size: 1.25rem;
  }

  .main-page__body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .main-page__image-ibg {
    padding-bottom: 100%;
  }

  .main-page__play {
    bottom: 3.125rem;
    left: 3.125rem;
  }

  .main-page__play::after {
    width: 6.25rem;
    height: 6.25rem;
    background: rgba(129, 134, 152, 0.2) url("../img/icons/circle-letter.svg") 50%/77px 74px no-repeat;
  }

  .name-page {
    text-align: center;
  }

  .explorers::after {
    width: 5rem;
    height: 6.4375rem;
    top: 13.75rem;
    right: 5rem;
    background: url("../img/icons/arrow-small.svg") 0 0 no-repeat;
  }

  .explorers__creators {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .explorers__creator {
    margin: -0.5rem 0;
  }

  .funfact__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.1875rem;
  }
}

@media (max-width: 29.9375em) {
  .main-page {
    padding-top: 6.25rem;
  }

  .funfact__body {
    -webkit-column-gap: 6.25rem;
       -moz-column-gap: 6.25rem;
            column-gap: 6.25rem;
  }
}

@media (min-width: 48em) and (max-width: 61.9375em) {
@supports (padding-top: clamp( 1.25rem , -2.4091928251rem  +  7.6233183857vw , 2.3125rem )) {
    .header {
      padding-top: clamp( 1.25rem , -2.4091928251rem  +  7.6233183857vw , 2.3125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -2.4091928251rem  +  7.6233183857vw , 2.3125rem )) {
    .header {
      padding-top: calc(1.25rem + 1.0625 * (100vw - 48rem) / 13.9375);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -2.4091928251rem  +  7.6233183857vw , 2.3125rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , -2.4091928251rem  +  7.6233183857vw , 2.3125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -2.4091928251rem  +  7.6233183857vw , 2.3125rem )) {
    .header {
      padding-bottom: calc(1.25rem + 1.0625 * (100vw - 48rem) / 13.9375);
    }
}

@supports (width: clamp( 6.3125rem , -4.019338565rem  +  21.5246636771vw , 9.3125rem )) {
    .header__logo img {
      width: clamp( 6.3125rem , -4.019338565rem  +  21.5246636771vw , 9.3125rem );
    }
}

@supports not (width: clamp( 6.3125rem , -4.019338565rem  +  21.5246636771vw , 9.3125rem )) {
    .header__logo img {
      width: calc(6.3125rem + 3 * (100vw - 48rem) / 13.9375);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -3.0549327354rem  +  8.9686098655vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -3.0549327354rem  +  8.9686098655vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , -3.0549327354rem  +  8.9686098655vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , -3.0549327354rem  +  8.9686098655vw , 2.5rem );
              column-gap: clamp( 1.25rem , -3.0549327354rem  +  8.9686098655vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -3.0549327354rem  +  8.9686098655vw , 2.5rem )) or (column-gap: clamp( 1.25rem , -3.0549327354rem  +  8.9686098655vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 48rem) / 13.9375);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 48rem) / 13.9375);
              column-gap: calc(1.25rem + 1.25 * (100vw - 48rem) / 13.9375);
    }
}
}

@media (min-width: 20em) and (max-width: 48em) {
@supports ((-moz-column-gap: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) or (column-gap: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
         -moz-column-gap: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
              column-gap: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem )) or (column-gap: clamp( 1.875rem , 0.9821428571rem  +  4.4642857143vw , 3.125rem ))) {
    .header__container {
      -webkit-column-gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
         -moz-column-gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
              column-gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 28);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 103.125em) {
  .menu__body::before {
    min-height: 6.25rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 103.125em) {
@supports (min-height: clamp( 5rem , 4.6992481203rem  +  1.5037593985vw , 6.25rem )) {
    .menu__body::before {
      min-height: clamp( 5rem , 4.6992481203rem  +  1.5037593985vw , 6.25rem );
    }
}

@supports not (min-height: clamp( 5rem , 4.6992481203rem  +  1.5037593985vw , 6.25rem )) {
    .menu__body::before {
      min-height: calc(5rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}
}

@media (min-width: 29.9375em) and (max-width: 47.9375em) {
@supports (padding-top: clamp( 6.25rem , -0.6106770833rem  +  22.9166666667vw , 10.375rem )) {
    .main-page {
      padding-top: clamp( 6.25rem , -0.6106770833rem  +  22.9166666667vw , 10.375rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , -0.6106770833rem  +  22.9166666667vw , 10.375rem )) {
    .main-page {
      padding-top: calc(6.25rem + 4.125 * (100vw - 29.9375rem) / 18);
    }
}
}

@media (max-width: 75em) and (min-width: 103.125em) {
  .main-page__container {
    row-gap: 6.25rem;
  }
}

@media (max-width: 75em) and (min-width: 20em) and (max-width: 103.125em) {
@supports (row-gap: clamp( 3.125rem , 2.3731203008rem  +  3.7593984962vw , 6.25rem )) {
    .main-page__container {
      row-gap: clamp( 3.125rem , 2.3731203008rem  +  3.7593984962vw , 6.25rem );
    }
}

@supports not (row-gap: clamp( 3.125rem , 2.3731203008rem  +  3.7593984962vw , 6.25rem )) {
    .main-page__container {
      row-gap: calc(3.125rem + 3.125 * (100vw - 20rem) / 83.125);
    }
}
}

@media (min-width: 20em) and (max-width: 103.125em) {
@supports (margin-bottom: clamp( 1rem , 0.5187969925rem  +  2.4060150376vw , 3rem )) {
    .name-page:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.5187969925rem  +  2.4060150376vw , 3rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.5187969925rem  +  2.4060150376vw , 3rem )) {
    .name-page:not(:last-child) {
      margin-bottom: calc(1rem + 2 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.125rem , 0.8543233083rem  +  1.3533834586vw , 2.25rem )) {
    .name-page__subtitle {
      font-size: clamp( 1.125rem , 0.8543233083rem  +  1.3533834586vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.8543233083rem  +  1.3533834586vw , 2.25rem )) {
    .name-page__subtitle {
      font-size: calc(1.125rem + 1.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 4.5rem )) {
    .name-page__title {
      font-size: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 4.5rem )) {
    .name-page__title {
      font-size: calc(1.875rem + 2.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 2.75rem , 2.4191729323rem  +  1.6541353383vw , 4.125rem )) {
    .explorers:not(:last-child) {
      margin-bottom: clamp( 2.75rem , 2.4191729323rem  +  1.6541353383vw , 4.125rem );
    }
}

@supports not (margin-bottom: clamp( 2.75rem , 2.4191729323rem  +  1.6541353383vw , 4.125rem )) {
    .explorers:not(:last-child) {
      margin-bottom: calc(2.75rem + 1.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.4873120301rem  +  0.3759398496vw , 1.875rem )) {
    .funfact__progress-wrapper {
      font-size: clamp( 1.5625rem , 1.4873120301rem  +  0.3759398496vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.4873120301rem  +  0.3759398496vw , 1.875rem )) {
    .funfact__progress-wrapper {
      font-size: calc(1.5625rem + 0.3125 * (100vw - 20rem) / 83.125);
    }
}
}

@media (min-width: 29.9375em) and (max-width: 34.375em) {
@supports ((-moz-column-gap: clamp( 6.25rem , -4.2913732394rem  +  35.2112676056vw , 7.8125rem )) or (column-gap: clamp( 6.25rem , -4.2913732394rem  +  35.2112676056vw , 7.8125rem ))) {
    .funfact__body {
      -webkit-column-gap: clamp( 6.25rem , -4.2913732394rem  +  35.2112676056vw , 7.8125rem );
         -moz-column-gap: clamp( 6.25rem , -4.2913732394rem  +  35.2112676056vw , 7.8125rem );
              column-gap: clamp( 6.25rem , -4.2913732394rem  +  35.2112676056vw , 7.8125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 6.25rem , -4.2913732394rem  +  35.2112676056vw , 7.8125rem )) or (column-gap: clamp( 6.25rem , -4.2913732394rem  +  35.2112676056vw , 7.8125rem ))) {
    .funfact__body {
      -webkit-column-gap: calc(6.25rem + 1.5625 * (100vw - 29.9375rem) / 4.4375);
         -moz-column-gap: calc(6.25rem + 1.5625 * (100vw - 29.9375rem) / 4.4375);
              column-gap: calc(6.25rem + 1.5625 * (100vw - 29.9375rem) / 4.4375);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #1ac9a9;
  }

  .menu__link:hover {
    color: #52ffe0;
  }

  .menu__link:hover::before {
    width: 100%;
  }

  .main-page__play:hover::after {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }

  .explorers__creator:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}