img {
	width: 1000px;
	height: auto;
}
a {
	color: #f08080;
}
div h3 {
	color: red;
}
.content-text.text {
	color: #7fff00;
}
.text p {
	color: #0000ff;
}
.text-page > p {
	color: #8a2fe2;
}
.alt-name span {
	color: #ffe999;
}
