/* !Шрифт Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

/* !Шрифт SF-Mono */
@font-face {
	font-family: SF-Mono;
	src: url('../fonts/SF-Mono/SFMono-Regular.woff2') format('woff2'),
		url('../fonts/SF-Mono/SFMono-Regular.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SF-Mono;
	src: url('../fonts/SF-Mono/SFMono-Semibold.woff2') format('woff2'),
		url('../fonts/SF-Mono/SFMono-Semibold.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: SF-Mono;
	src: url('../fonts/SF-Mono/SFMono-Bold.woff2') format('woff2'),
		url('../fonts/SF-Mono/SFMono-Bold.woff') format('woff');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}
